<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">CONSULTAR TECNICO</h5>
    <div class="row">
      <div class="col-lg-6">
        <input
          type="text"
          [(ngModel)]="technicianId"
          class="form-control mb-3"
          placeholder="Buscar"
          oninput="this.value = this.value.replace(/[^0-9]/g, '');"
        />
      </div>
      <div class="col-lg-3">
        <input
          type="number"
          min="1"
          max="53"
          [(ngModel)]="weekNumber"
          class="form-control mb-3"
          placeholder="Semana"
          oninput="this.value = this.value.replace(/[^0-9]/g, '');"
        />
      </div>
      <div class="col-lg-3">
        <button class="btn btn-success" (click)="getAppointmentsOfWeek()" [disabled]="technicianId.length === 0">Calcular</button>
      </div>
    </div>
    <table class="table">
      <tbody>
        <tr>
          <td>Id. Servicio</td>
          <td>F. Inicio</td>
          <td>F. Finalizacion</td>
        </tr>
        <tr *ngFor="let appointment of listAppointments; index as i">
          <td>{{ appointment.serviceId }}</td>
          <td>{{ appointment.serviceStarted | date: "yyyy-MM-dd hh:mm a" }}</td>
          <td>{{ appointment.serviceFinished | date: "yyyy-MM-dd hh:mm a" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
