<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">HORAS TRABAJADAS</h5>
    <table class="table">
      <tbody>
        <tr>
          <td>Horas Normales</td>
          <td>{{ hoursWorked?.get('Horas Normales') / 60 | number:'2.2-2'}} h</td>
        </tr>
        <tr>
          <td>Horas Nocturnas</td>
          <td>{{  hoursWorked?.get('Horas Nocturnas') / 60 | number:'2.2-2' }} h</td>
        </tr>
        <tr>
          <td>Horas Dominicales</td>
          <td>{{  hoursWorked?.get('Horas Dominicales') / 60 | number:'2.2-2' }} h</td>
        </tr>
        <tr>
          <td>Horas Normales Extra</td>
          <td>{{  hoursWorked?.get('Horas Normales Extra') / 60 | number:'2.2-2' }} h</td>
        </tr>
        <tr>
          <td>Horas Nocturnas Extra</td>
          <td>{{ hoursWorked?.get('Horas Nocturnas Extra') / 60 | number:'2.2-2' }} h</td>
        </tr>
        <tr>
          <td>Horas Dominicales Extra</td>
          <td>{{  hoursWorked?.get('Horas Dominicales Extra') / 60 | number:'2.2-2' }} h</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
