<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-3">
      {{ title | uppercase }}
    </h5>
    <form [formGroup]="technicianForm" (ngSubmit)="saveTechnician()">
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="technicianId"
          class="form-control form-control-lg"
          [attr.disabled]="editFlag ? '' : null"
          placeholder="Identificación"
          oninput="this.value = this.value.replace(/[^0-9]/g, '');"
          [class.valid]="this.technicianForm.get('technicianId')?.valid"
          [class.invalid]="
            this.technicianForm.get('technicianId')?.invalid &&
            this.technicianForm.get('technicianId')?.touched
          "
        />
        <label for="technicianId" style="font-size: 120%">Id Tecnico</label>
        <div>
          <small
            class="text-danger"
            *ngIf="
              this.technicianForm.get('technicianId')?.hasError('required') &&
              this.technicianForm.get('technicianId')?.touched
            "
          >
            La identificación del tecnico es requerida.
          </small>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="name"
          class="form-control form-control-lg"
          placeholder="Nombre"
          [class.valid]="this.technicianForm.get('name')?.valid"
          [class.invalid]="
            this.technicianForm.get('name')?.invalid &&
            this.technicianForm.get('name')?.touched
          "
        />
        <label for="name" style="font-size: 120%">Nombre</label>
        <div>
          <small
            class="text-danger"
            *ngIf="
              this.technicianForm.get('name')?.hasError('required') &&
              this.technicianForm.get('name')?.touched
            "
          >
            El nombre del tecnico es requerido.
          </small>
          <small
            class="text-danger"
            *ngIf="
              this.technicianForm.get('name')?.hasError('maxlength') &&
              this.technicianForm.get('name')?.dirty
            "
          >
            El nombre no puede contener más de 40 caracteres.
          </small>
          <small
            class="text-danger"
            *ngIf="
              this.technicianForm.get('name')?.hasError('pattern') &&
              this.technicianForm.get('name')?.dirty
            "
          >
            El nombre no puede contener números ni caracteres especiales.
          </small>
        </div>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          formControlName="lastName"
          class="form-control form-control-lg"
          placeholder="Apellido"
          [class.valid]="this.technicianForm.get('lastName')?.valid"
          [class.invalid]="
            this.technicianForm.get('lastName')?.invalid &&
            this.technicianForm.get('lastName')?.touched
          "
        />
        <label for="lastName" style="font-size: 120%">Apellido</label>
        <div>
          <small
            class="text-danger"
            *ngIf="
              this.technicianForm.get('lastName')?.hasError('required') &&
              this.technicianForm.get('lastName')?.touched
            "
          >
            El apellido del tecnico es requerido.
          </small>
          <small
            class="text-danger"
            *ngIf="
              this.technicianForm.get('lastName')?.hasError('maxlength') &&
              this.technicianForm.get('lastName')?.dirty
            "
          >
            El apellido no puede contener más de 40 caracteres.
          </small>
          <small
            class="text-danger"
            *ngIf="
              this.technicianForm.get('lastName')?.hasError('pattern') &&
              this.technicianForm.get('lastName')?.dirty
            "
          >
            El apellido no puede contener números ni caracteres especiales.
          </small>
        </div>
      </div>
      <div class="d-grid gap-2">
        <button
          [disabled]="technicianForm.invalid"
          class="btn btn-success btn-lg"
          type="submit"
        >
          Aceptar
        </button>
      </div>
    </form>
  </div>
</div>
